.perfil {
  width: 50%;
  padding-top: 50px;
  color: $color-claro;
  background-color: $color-secundario;

  @media (max-width: 767px) {
    margin: auto;
    width: 100%;
  }

  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
  }
  &__nombre {
    text-align: center;
    font-size: 25px;
    @include titulos($Fuente2);
  }
  &__titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: get-opacity($color-claro, 0.5);
  }
  //2 agregar aca
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    padding: 7px 2px;
    border-radius: 20px;
    border: 1px solid get-opacity($color-claro, 0.4);
    outline: none;
    text-decoration: none;
    text-align: center;
    @include titulos($Fuente2);
    color: $color-claro;
    background: get-opacity($color-primario, 0.3);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}
