.sidebar--listado {
  max-width: 300px;
  padding: 20px; //tener un espacio en la parte superior como inferior
  @include caja();

  @media (max-width: 480px) {
    justify-self: center;
  }

  h3 {
    @include font-size(20px);
    @include titulos($Fuente2);
  }
  ul {
    margin: 0; //para evitar que nos den espacios innecesarios
    padding: 0; //igual
  }
  li {
    padding: 10px 0; //tiene un separador entre cada uno de los contenedores
    margin: 10px 0;
    border-top: 1px solid #ccc;
    list-style: none;
  }
  @media (min-width: 770px) and (max-width: 950px) {
    li:last-child {
      display: none;
    }
  }
  @media (min-width: 480px) and (max-width: 700px) {
    li:last-child {
      display: none;
    }
  }

  a {
    display: flex;
    padding: 10px 20px; //arriba y abajo respectivamente
    color: $color-primario;

    @media (min-width: 770px) and (max-width: 950px) {
      padding: 5px 2px;
    }

    @media (min-width: 480px) and (max-width: 600px) {
      padding: 5px 2px;
    }
  }

  &__numero {
    margin-right: 20px;
    color: get-opasity($color-primario, 0.5);
  }
}
